.container
{
	display: inline-block;
	padding-top: 100px;
	padding-left: 45%;
}

#login
{
	font-family: "roboto";
	font-size: 18px;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.55);
}

#usr
{
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

#password
{
	font-family: "roboto";
	font-size: 18px;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

#psswd
{
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

#send
{
	font-family: "roboto";
	font-size: 17px;
	color: black;
}

#warning
{
	font-family: "roboto";
	font-size: 18px;
	color: red;
	//text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

@font-face
{
	font-family: "roboto";
	src: url("roboto.ttf");
	font-weight: 400;
	font-style: normal;
}
