.botao
{
	font-family: courier;
	font-size: 18px;
	display: inline-block;
	padding: 5px;
	margin: 3px;
	background: rgba(0, 0, 0, 0.2);
}

.dropzone
{
	font-family: courier;
	font-size: 18px;
	padding: 10px;
	margin-right: 900px;
	margin-top: 100px;
	width: 500px;
	background: #ccc;
	float: left;
	visibility: visible;
}

#horarios
{
	font-family: courier;
}

#chairs
{
	font-family: courier;
	display: block;
	text-align: left;
	text
}

#dias
{
	font-family: courier;
	display: block;
	text-align: center;
}

#calendar
{
	font-family: courier;
	font-size: 18px;
	width: 250px;
	height: 150px;
	margin-right: 50px;
	margin-top: -20px;
	background: #ccc;
	float: right;
	visibility: hidden;
}
